body{
    margin: 0;
    padding: 0;
}

.navigation li {
    margin:15px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;


}

.navigation li a{
    text-decoration: none;
    color:red;

}
.navigation {
    text-align: center;
}
.img {
    width: 100%;
    }
.Maintext {
    text-align: center
}
p {
    text-align: center
}
.button-content {

   margin: 60px  auto;
    display: block;
    background: red;
    color: white;
    font-size: 12px;
    width: 191px;
    height: 51px;
    text-transform: uppercase;

}
.foot-main {
    text-align: right;
    padding-right: 20px;
}

